@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nunito+Sans:wght@300&family=Roboto&family=Sansita&family=Sansita+Swashed&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Nunito Sans", sans-serif;
}
body{
    background-color: var(--primary-background);
}
h2, p{
    padding: 0 ;
    background-color: transparent;
    margin: 0;
}
.link{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
}
::selection{
    background-color: var(--primary-color);
    color: #fff;
}
:root{
    --primary-background: #16181c;
    --primary-color:#f9b707;
}
li{
    list-style-type: none;
}
.header-container{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    color: #f9b707;
    background-color: var(--primary-background);
    box-shadow: 0 0 10px rgb(71, 71, 71);
    align-items: center;
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
}
.header-container a{
    text-align: none;
    color: #fff;
}
.header-nav{
    /* background-color: #121213; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    z-index: 100;
}
.logo-container{
    font-size: 1.4rem;
    font-weight: 600;
    color: #f9b707;
}
.nav-menu-list-container,
.partners-container,
.start-container,
.invetment-package-container,
.investment-package-wrapper,
.investors-guide-container{
    display: flex;
    justify-content: center;
}
.nav-menu-list{
    display: flex;
    align-items: center;
    color: #fff;
}
.nav-menu-list .nav-menu-list-items{
    margin:0 10px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.nav-menu-list-items:hover{
    color: #f9b707;
    transition: all 0.3s ease-in-out;
}
.nav-menu-auth .auth-button{
    padding: 10px 20px;
    color: #fff;
    background-color: #f9b707;
    font-size: 16px;
    border: none;
    /* width: 120px; */
    height: 40px;
    border-radius: 5px;
    /* border-radius: 6px 6px 6px 0; */
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.auth-button:hover{
    transition: all 0.3s ease-in-out;
}
.nav-menu-auth .login{
    margin-right: 5px;
}
.menu-bar{
    display: none;
}
.mobile-menu-list{
    display: none;
}
.main-body{
    padding-top: 60px;
}
.mobile-button a{
    text-decoration: none;
}


/* INTRO SECTION */
.intro-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 100px;
}
.intro-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin-bottom:50px;
    margin-top: 40px;
}
.intro-text-container{
    width: 100%;
    max-width: 700px;
}
.intro-text-container h2{
    color: #Fff;
    font-size: 2.5rem;
    font-weight: 600;
}
.intro-text-container p{
    color: #c0bdbd;
    margin-top: 10px;
}
.intro-button{
    margin-top: 20px;
}
.intro-button button{
    color: #fff;
    background-color: #f9b707;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}
.intro-button button:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.image-container{
    width: 100%;
    max-width: 500px;
}

/* market Ticker */
.trading-view-ticker-container{
    margin-top: 50px;
}

/* PARTNERS CONTAINER */
.partners-container{
    margin-top: 100px;
    margin-bottom: 100px;
    /* background-color: #121314; */
    padding:70px 10px;
    color: #fff;
    letter-spacing: 1.5px;
    border-bottom: 1px solid rgb(44, 43, 43);
    text-align: center;
}
.partners-image-container{
    width: 100%;
    max-width: 160px;
    height: 80px;
    margin: 10px;
}
.partners-image{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* grid-template-columns: 1fr 1fr; */
}
/* START CONTAINER */
.start-wrapper{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
}
.start-text-container p{
    text-align: center;
    font-size: 1.2rem;
}
.start-text-container h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.start-box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 150px;
}
.start-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #11141a;
    text-align: center;
    width: 100%;
    width: 500px;
    height: 200px;
    /* border-radius: 20px; */
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
}
.start-box-button{
    background-color: transparent;
}
.start-box-button button{
    width: 150px;
    color: #fff;
    background: #f9b707;
    margin: 20px;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* ONLINE TRADE SECTION */
.online-trade-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    /* background-color:#232324 ; */
}
.online-trade-wrapper{
    width: 100%;
    max-width: 1300px;
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.online-trade-image-container{
    width: 100%;
    max-width: 600px;
    height: 700px;
}
.online-trade-text-container{
    width: 100%;
    max-width: 600px;
}
.online-trade-text-container h2{
    /* font-size: 2.5rem; */
}
.online-more-wrapper{
    margin-top: 20px;
    cursor: pointer;
}
.online-more-wrapper .link{
    color: #f9b707;
}

/* INVESTMENT SECTION */
.investment-package-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
}
.investment-package-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    /* max-width: ; */
}
.investment-package-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: #fff;
    text-align: center;
}
.investment-package-text p{
    width: 100%;
    max-width: 800px;
    margin-top: 15px;
}
.investment-packages-boxs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
}
.investment-packages-box{
    width: 100%;
    max-width: 330px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    color: #Fff;
    border-bottom:4px solid lightgray ;
    margin: 10px;
    transition: all 0.5s ease-in-out;
}
.investment-packages-box:hover{
    border-bottom: 4px solid #f9b707;
    box-shadow: 0 0 10px rgb(66, 66, 66);
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
}
.investment-packages-box .investment-package-name{
    padding: 10px;
    background-color: #f1d27a;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 6px 6px 6px 0;
    /* font-size: ; */
}
.package-amount{
    font-size: 2rem;
}
.investment-package-time{
    color: lightgray;
}
.investment-packages-box .line{
    margin:20px 0 ;
}
.investment-package-rewards li{
    margin: 5px 0;
}
.investment-package-rewards .fa-sharp{
    color:#f9b707;
    margin-right: 3px;
}
.investment-package-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.investment-package-button button{
    width: 90%;
    height: 35px;
    color: #fff;
    background-color: #f9b707;
    height: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}

/* GET STARED SECTION */
.get-started-container, .invest-container{
    padding: 80px 20px;
    background-color: #232324;
    display: flex;
    justify-content: center;
    color: #fff;
}
.get-started-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232324;
    width: 100%;
    max-width: 1000px;
    border: 1px solid lightgray;
    padding: 50px 30px;
    border-radius: 10px;
}
.get-started-text{
    width: 100%;
    max-width: 700px;
}
.get-started-text h2{
    /* font-size: 2rem; */
}
.get-started-text p{
    margin-top: 20px;
}
.get-started-button button{
    height: 45px;
    color: #fff;
    background-color: #f9b707;
    height: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    padding:0 10px;
    transition: all 0.3s ease-in-out;
}
.get-started-button button:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* INVEST SECTION */
.invest-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1400px;
    padding: 50px 0;
}
.invest-text-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.invest-text-container h2{
    /* font-size: 3rem; */
}
.invest-text-container p{
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
}
.investment-box{
    padding: 20px;
    background-color:#272626 ;
    width: 100%;
    max-width: 340px;
}

/* INVESTORS GUIDE SECTION */
.investors-guide-container{
    color: #fff;
    padding: 20px;
    background-color:#232324 ;
}
.investors-guide-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    margin-top: 60px;
    margin-bottom: 100px;
}
.investors-guide-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.investors-guide-text p{
    width: 100%;
    max-width: 700px;
}
.investors-guide-boxs-container{
    margin-top: 40px;
}
.investors-guide-box-container{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.investors-guide-box-container .investors-guide-box{
    display: flex;
    background-color:var(--primary-background) ;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    margin:10px;
    justify-content: space-between;
    /* align-items: center; */

    
}
.investor-icon-container{
    height: 45px;
    width: 45px;
    background-color: #f1d27a;
    border-radius: 50% 50% 50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.investors-guide-box-icon{
    font-size: 20px;
}
.investors-guide-box-text{
    margin-left: 8px;
    width: 100%;
    max-width: 250px;
}
.investors-guide-box-text p{
    margin-top: 10px;
} 

/* SECURITY SECTION */
.security-container{
    display: flex;
    justify-content: center;
    color: #fff;
    padding:100px 0;
    background-color: #232324;
    padding: 100px 20px;
}
.security-box-main-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.security-wrapper{
    width: 100%;
    max-width: 1050px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
.security-wrapper h2{
    font-size: 2rem;
}
.security-box-container{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    background-color: #16181c;
    padding: 20px;
}
.security-box-container h3{
    font-size: 1.6rem;
}
.security-icon-wrapper .security-icon{
    padding: 10px;
    background-color: #f1d27a;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* FOOTER SECTION */
.main-footer-container{
    padding: 20px;
}
.logo{
    width: 100%;
    max-width: 400px;
}
.logo p{
    color: lightgray;
    margin-top: 10px;
}
.links{
    display: flex;
    flex-direction: column;
}
.links a{
    color: #fff;
    text-decoration: none;
    transition:all 0.2s ease-in-out;
}
.links h3{
    color: #fff;
}
.links a:hover{
    color: #f9b707;
    transition:all 0.2s ease-in-out;
}
.contact-address{
    color: #fff;
}
.main-footer-container{
    display: flex;
    justify-content: center;
}
.main-footer-wrapper{
    margin-top: 50px;
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-box-container{
    display: flex;
    justify-content: space-between;
}
.footer-text{
    color: lightgray;
    width: 100%;
    max-width: 400px;
}
.last-txt{
    margin-top: 30px;
    color: #fff;
    text-align: center;
    border-top: 1px solid rgb(70, 69, 69);
    padding-top: 17px;
}
.footer-box-mini{
    margin-top: 10px;
}