.profit-page-wrapper h3{
    text-align: center;
}
.profit-transactions-table{
    border-top:1px solid rgb(58, 57, 57) ;
    margin-top: 20px;
}
.table-head{
    border-bottom: 1px solid rgb(58, 57, 57);
}
table{
    color: #fff;
    width: 100%;
    padding: 20px 5px;
    /* box-shadow: 0 0 5px rgb(77, 76, 76); */
    border-radius:10px ;
    /* margin-top: 20px; */
}
tr td{
    text-align: center;
}
.table .table-head{
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}
tr{
    border-bottom:  1px solid lightgray;
}
.table-data td{
    padding: 10px;
}
.withdraw-table, .others-table{
    display: none;
}

@media screen and (max-width:800px) {
    .transaction-history-table{
        padding: 20px 0;
    }
    table, .table-head{
        overflow: scroll;
    }
}
a{
    text-decoration: none;
    
}
.no-profit{
    display: none;
}