.referral_text{
    text-align:center;
}
.referral_box_container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.referral_box_wrapper{
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(49, 49, 49);
    padding: 20px;
}
.referal_link_box{
    margin-top: 20px;

}
.copy_button{
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.copy_button:hover{
    color: #fff;
    transition: all 0.2s ease-in-out;
}